	<div class="row">
		{% for promocion in promociones %}
		<div class="col-sm-4">
			<div class="item">
				<h3>{{ promocion.nombre }}</h3>
				<img src="{{ asset('uploads/promociones/' ~ promocion.imagen) }}" alt="" />
				<p>{{ promocion.descripcion|nl2br }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
